body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.container {
    width: 85%;
    margin: auto;
}

nav {
    background-color: #FF6317;
}

#logo {
    border: 1px solid #fff;
    margin: 2px 0 0 2px;
}

#navbar {
    display: inline;
    vertical-align: super;
}

#login {
    float: right;
    margin: 2px 4px 0 0;
 }

 section {
     background-color: #f6f6ef;
 }

 .small-link {
     font-size: 10px;
     color: #777;
 }

 .number {
     color: #777;
     text-align: right;
 }

 .inner-row {
     color: #777;
     font-size: 10px;
 }

.final {
     margin-top: 200px;
 }

 .footer {
     text-align: center;
     font-size: 10px;
 }

 #myForm {
     padding: 10px 0 10px 0;
     font-size: 14px;
     color: #777;
 }

 hr {
     height: 2px;
     background-color: #FF6317;
 }