body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
}
.clear {

    clear: both;
}

.container {
    width: 1008px;
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 1px solid black;
}

#day {
    font-size: 10.5px;
    background-color: #403B39;
    padding: 2px 0 2px 2px;
    color: #fff;
    letter-spacing: -0.4pt;
}

#day a {
    color: #fff;
    text-decoration: none;
}

#day a:hover {
    text-decoration: underline;
}

#time {
    float: right;
    padding-right: 2px;
}

#logo-sec {
    position: relative;
    background-color: #eee;
    height: 90px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#bom-logo {
    position: absolute;
    bottom: -12px;
    margin-top: 45px;
    margin-left: 10px;
}

#social {
    text-align: right;
    margin: 0 20px 45px 0;
}

#social img {
    margin-right: 10px;
}

#imdb-link {
    height: 20px;
    width: 89px;
}

.tw-btn {
    width: 19.3px;
    height: 18px;
}

ul {
    list-style-type: none;
    font-size: 12px;
    margin-top: 4px;
    letter-spacing: -.8px;
}

ul li {
    margin-left: -35px;
    margin-bottom: 3px;
    line-height: 18px;
}



.col-1 {
    display: inline-block;
    width: 10%;
    margin-left: 5px;
}

.col-2, .col-3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.list-head {
    font-weight: bold;
    font-size: 12.5px;
    letter-spacing: -.5px;
}

#search-bar {
    width: 90px;
}

.at {
    font-size: 8px;
    margin-left: 5px;
    color: #999;
}

form {
    margin-bottom: 8px;
}

.section-head {
    color: #880000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.headline {
    border-top: 1px solid #777;
}