body {
    font-family: Tahoma,Verdana,Segoe,Arial,sans-serif;
    margin: 0;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
}
.clear {

    clear: both;
}

.container {
    width: 1008px;
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 1px solid black;
}

#day {
    font-size: 10.5px;
    background-color: #403B39;
    padding: 2px 0 2px 2px;
    color: #fff;
    /* letter-spacing: -0.4pt; */
}

#day a {
    color: #fff;
    text-decoration: none;
}

#day a:hover {
    text-decoration: underline;
}

#time {
    float: right;
    padding-right: 2px;
}

#logo-sec {
    position: relative;
    background-color: #eee;
    height: 90px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#bom-logo {
    position: absolute;
    bottom: -12px;
    margin-top: 45px;
    margin-left: 10px;
}

#social {
    text-align: right;
    margin: 0 20px 45px 0;
}

#social img {
    margin-right: 10px;
}

#imdb-link {
    height: 20px;
    width: 89px;
}

.tw-btn {
    width: 19.3px;
    height: 18px;
}

ul {
    list-style-type: none;
    font-size: 12px;
    margin-top: 4px;
    /* letter-spacing: -.8px; */
}

ul li {
    margin-left: -35px;
    margin-bottom: 3px;
    line-height: 18px;
}



.col-1 {
    display: inline-block;
    width: 10%;
    margin-left: 5px;
}

.col-2, .col-3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.list-head {
    font-weight: bold;
    font-size: 13px;
    /* letter-spacing: -.5px; */
}

#search-bar {
    width: 90px;
}

.at {
    font-size: 8px;
    margin-left: 5px;
    color: #999;
}

form {
    margin-bottom: 8px;
}

.section-head {
    color: #880000;
    font-weight: bold;
    text-transform: uppercase;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-size: 15px; */
}

.headline {
    border-top: 1px solid #777;
    font-size: 24px;
    font-weight: 800;
}

.headline a {
    color: #880000;
}

.author {
    font-size: 12px;
}

.story {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.more {
    text-align: right;
    margin: 10px 0 30px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

th {
    color: #880000;
    text-align: left;
}

table {
    border-collapse: collapse;
    /* border:1px solid black; */
    width: 100%;
}

.top-row {
    border-bottom: 1px solid black;
}

.showdown-title {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.full-showdown {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}

.center {
    text-align: center;
}

.table-end {
    padding: 5px 0;
}