body {
    font-family: Tahoma,Verdana,Segoe,Arial,sans-serif;
    margin: 0;
    font-size: 13px;
    background: #ccc;
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
}
.clear {

    clear: both;
}

.container {
    width: 1008px;
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 1px solid black;
    background: #fff;
}

#day {
    font-size: 10.5px;
    background-color: #666;
    padding: 2px 0 2px 2px;
    color: #fff;
    /* letter-spacing: -0.4pt; */
}

#day a {
    color: #fff;
    text-decoration: none;
}

#day a:hover {
    text-decoration: underline;
}

#time {
    float: right;
    padding-right: 2px;
}

#logo-sec {
    position: relative;
    background-color: #eee;
    height: 90px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#bom-logo {
    position: absolute;
    bottom: -12px;
    margin-top: 45px;
    margin-left: 10px;
}

#social {
    text-align: right;
    margin: 0 20px 45px 0;
}

#social img {
    margin-right: 10px;
}

#imdb-link {
    height: 20px;
    width: 89px;
}

.tw-btn {
    width: 19.3px;
    height: 18px;
}

ul {
    list-style-type: none;
    font-size: 12px;
    margin-top: 4px;
    /* letter-spacing: -.8px; */
}

ul li {
    margin-left: -35px;
    margin-bottom: 3px;
    line-height: 18px;
}



.col-1 {
    display: inline-block;
    width: 10%;
    margin-left: 5px;
}

.col-2, .col-3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.col-3 {
    width: 25%;
    margin-left: 5px;
}

.col-4 {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;

}

.list-head {
    font-weight: bold;
    font-size: 13px;

}

#search-bar {
    width: 90px;
}

.at {
    font-size: 8px;
    margin-left: 5px;
    color: #999;
}

form {
    margin-bottom: 8px;
}

.section-head {
    color: #880000;
    font-weight: bold;
    text-transform: uppercase;
}

.headline {
    border-top: 1px solid #777;
    font-size: 24px;
    font-weight: 800;
}

.headline a {
    color: #880000;
}

.author {
    font-size: 12px;
}

.story {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.more {
    text-align: right;
    margin: 10px 0 30px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    padding: 3px 0;
}

th {
    color: #880000;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.top-row {
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.showdown-title {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.full-showdown {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}

.center {
    text-align: center;
}

.table-end {
    padding: 5px 0;
}

.sm-table-border {
    border: 1px solid black;
}

.sm-table-content {
    font-size: 11px;
}

.right {
    text-align: right;
}

.th-schedule {
    color: #000;
    text-align: center;
}

.table-top-margin {
    margin-top: 30px;
}

#imdb-pro {
    width: 300px;
}

#imdb-showtimes {
    display: inline-block;
    padding: 10px 0 10px 0;
    border-top: 1px solid black;
    margin: 3px 0;
    width: 100%;
}

#imdb-showtimes img {
    vertical-align: middle;
}

#promo {
    margin: 30px 0;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: #eee;
    border-top: 1px solid #888;
    margin-top: 50px;
    padding-top: 8px;
}

#footer a {
    color: #333;
}

.col-2-footer {
    margin-left: 5px;
}

.col-2-footer, .col-3-footer, .col-4-footer, .col-5-footer {
    display: inline-block;
    vertical-align: top;
}

.footer-head {
    font-weight: bold;
}

#footer ul li{
    line-height: 13px;
    color: #333;
    font-size: 13.25px;;
}

.col-3-footer {
    margin-left: 5px;
}

.col-4-footer {
    margin-left: 50px;
}

.col-5-footer {
    margin: 3px 0 0 170px;
    width: 30%;
}

.footer-info {
    display: inline-block;
    font-size: 9px;
}

.footer-info img {
    width: 34px;
    height: 16px;
    vertical-align: top;
}

#footer p {
    font-size: 9px;
    width: 80%;
}